<!DOCTYPE html>
<html>
  <meta charset="utf-8">

  <head>
      <link rel="stylesheet" href="/static/global.css" />
      <title>Team Paddington</title>
  </head>

  <body>
    <div>
      <h1>
        Team Paddington!
      </h1>
    </div>
    <br>
    <div>
      <button id='prediction'>
        Predict!
      </button>
    </div>
    <br>
    <div>
      <input id='output' type='text' readonly></input>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.35.2/plotly.min.js"></script>

    <script src="/static/global.js"></script>
  </body>
</html>
